<!--about section-->
<div class="container mb-2" id="about">
    <h2 class="text-justified text-success bg-dark">About</h2>
    <br>
    <p class="lead text-secondary" >Flip-UI is a simple application that provides you with 
    multiple UI designs by switching different bootswatch themes
    Flip-UI runs on a simple nodejs server (backend), while HTML5, CSS3 
    (custom stylesheet and bootstrap framework) and jquery, powers the frontend..</p>   
                
</div>

