<!--contact section-->
<div class="container" id="contact">
    <h2 class="text-justified text-success bg-dark">Contact</h2>
    <form id="contact-form">
        <div class="form-group">
            <label class="text-secondary">Name:</label>
            <input type="text" class="form-control" id="name" placeholder="Enter name">
        </div>
        <div class="form-group">
            <label class="text-secondary">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Enter email address">
        </div>
        <div class="form-group">
            <label class="text-secondary">Message:</label>
            <textarea class="form-control" id="message" placeholder="Type Your Message Here"></textarea>
        </div>
        <input type="submit" class="btn btn-outline-success mb-2" value="Submit">
    </form>
</div>
