<!--section-->
<div class="jumbotrone text-center  mb-2" id="home">
    <div class="container">
        <!--home section-->
            <h1 class="text-success"> Welcome to <span class="text-capitalize">flip-ui</span></h1>
            <p>Apply different UI designs to your app from a list bootswatch themes</p>
            <a href="about.html" class="btn btn-outline-success mr-3 mb-3">Learn more</a>
    </div>
</div>
