<% include partials/header %>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <a class="navbar-brand text-success" href="#">
            <img src="" width= "30" height="30" class="d-inline-block align-top" alt="">
            Flip-Ui
        </a>
    
        <form class="form-inline ml-4">
            <select class="form-control ml-4 mr-sm-2" id="theme">
                <option value="">Choose a Theme</option>
                <option value="cdn-link1">Cyborg</option>
                <option value="Sandstone">Sandstone</option>
                <option value="Lux">Lux</option>
                <option value="Darkly">Darkly</option>
                <option value="Minty">Minty</option>
            </select>
        </form>
        <button id="Ajax-btn" class="btn btn-outline-info btn-xs text-success mr-4" role="button"> Ajax Json</button>
        <button id="Ajax-api" class="btn btn-outline-info btn-xs text-success mr-4" role="button"> Ajax Api</button>
        <button id="Fetch-btn" class="btn btn-outline-info btn-xs text-success mr-4" role="button"> Fetch json</button>
        <button id="Fecth-api" class="btn btn-outline-info btn-xs text-success mr-4" role="button"> Fetch api</button>
    
        <a href="/" class="nav-item nav-link active ml-3 mr2">Home</a>
        <a href="/about" class="nav-item nav-link mr-2">About</a>
        <a href="/howitworks" class="nav-item nav-link mr-2">How it Works</a>
        <a href="/contact" class="nav-item nav-link">Contact</a>
    </nav>

    
    <%- body %>    

    
    <!--footer-->
    <footer id="main-footer">
        <div class="row bg-dark">
            <div class="col-md-1 text-right">
                <p class="text-success mt-2">Connect:</p>
            </div>
            <div class="col-md-6" id="connect-link">
                <a href="https://github.com/rockkypete" class="btn btn-default btn-xs" role="button"><img src="./images/git-icon.png" alt="github icon"></a>
                <a href="https://twitter.com/rockkypete" class="btn btn-default btn-xs" role="button"><img src="./images/twitter-icon.png" alt="Twitter icon"></a>
                <a href="https://linkedin.com/abahp22" class="btn btn-default btn-xs" role="button"><img src="./images/linkedIn-icon.png" alt="linkedin icon"></a>
                <a href="https://" class="btn btn-default btn-xs" role="button"><img src="./images/gmail-icon.png" alt="gmail icon"></a>
                <a href="https://petesprofile.developer" class="btn btn-default btn-xs" role="button"><img src="./images/web-icon.png" alt="Website icon"></a>
                
            </div>
            <div class="col-md-5 text-justified">
                <p class="text-success mt-2">&copy; 2020 Flip-UI. All rights reserved.</p>
            </div>
        </div>
    </footer>
<% include partials/footer %>
    
